a, p, label, .btn, .custom-select {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #E4844A;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: #444;
}

hr {
  border-top: 2px solid;
  border-color: #91204D;
  margin: 5px 0px 5px 0px;
}

/*  bootstrap overrides */

.brand {
    color: #E2F7CE;
    font-family: 'Orbitron', sans-serif;
    margin: 20px 0px 20px 0px;
}
@media (min-width: 768px) {
    .brand {
        font-size: 16px;
    }
}
@media (min-width: 1400px) {
    .brand {
        font-size: 18px;
    }
}


.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover{
    background-color: #E8BF56;
} 

.dropdown-menu {
    background-color: #E4844A;
}

.editor {
    
}

.nav-item {
    margin: 5px 20px 5px 20px;
}

.nav-item.heading {
    margin-top: 10px;
}

.nav-link {
    padding: 7px 0px 7px 0px;
    margin: 10px 20px 10px 20px;
}

/*  custom classes */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #452632;
    padding: 20px 0px 20px 0px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .66);
    overflow-y: scroll !important;
}

@media (max-width: 575px) {
    .sidebar {
        display: none;
    }
}

.sidebar .btn {
    color: #E8BF56;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    background-color: #91204D;
}

.sidebar .btn.active {
    background-color: rgb(133, 179, 133);
    color: #452632;
}

.sidebar .btn:focus {
    box-shadow: none;
}

.sidebar .btn:enabled:hover {
    color: white;
    background-color: #E4844A;
    border-radius: .25rem;
}

.sidebar .card {
    background-color: transparent;
    border: none;
}

.sidebar .card-header {
    border: none;
    padding: 0px;
}

.sidebar .card-header:first-child {
    border: none;
}

.sidebar .card-body {
    padding: 0px;
}

.sidebar .col-form-label {
    color: #E4844A;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}

.sidebar .custom-select {
    background-color: #91204D;
    color: #E8BF56;
    font-weight: 500;
    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}
.sidebar .custom-select:disabled {
    opacity: .65;
}

.sidebar .custom-select:enabled:hover {
    color: white;
    background-color: #E4844A;
}

.sidebar .custom-form {
    background-color: #91204D;
    color: #E8BF56;
    font-weight: 500;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 0px transparent;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.sidebar .nav{
    padding: 10px 0px 10px 0px;
}

.sidebar .nav-link:hover {
    color: #E8BF56;
    background-color: transparent;
    
}
